.Button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    }
    /* Button styling and aesthetics */
    .MainButton{
        border: none;
        background-color: crimson;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 19px;
        padding-left: 7px;
        cursor: pointer;
    }

