body {
  /* overflow: hidden; */
  transition: 0.5s ease;
}


/* general styles */

/* Navbar */
.navbar-toggler{

  border: none !important;
}
.line{
  margin: 6px;
  
  height: 5px;
  width: 40px;
background-color: black;
border-radius: 10px;

}

/* text */

.HueText-container {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 38vh;
}

.HueText {
  cursor: default;
  font-size: 50px;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
/* Input box */

.InputBox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputBox {
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 50px;
  outline: none; 
}

/* Mobile restraints for InputBox size */
@media screen and (max-width: 414px) {
  .InputBox {
    width: 75vw;
  }
}

/* Button styles */

.Button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  height: 100px;
  /* Testing design */
  visibility:hidden;

}

.MainButton {
  height: 50px;
  width: 50px;
  cursor: pointer;
  line-height: 47px;
  background-color: crimson;
  text-align: center;
  font-size: 30px;
  display: inline-block;

  /* Transitions */
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  -ms-transition: 0.1s ease-out;
  -khtml-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  /* Shadows */
  box-shadow: inset 0 0 5px 0 crimson;
  -moz-box-shadow: inset 0 0 5px 0 crimson;
  -ms-box-shadow: inset 0 0 5px 0 crimson;
  -webkit-box-shadow: inset 0 0 5px 0 crimson;
  -khtml-box-shadow: inset 0 0 5px 0 crimson;
  -o-box-shadow: inset 0 0 5px 0 crimson;
  /* Borders */
  border-width: 1.5px;
  border-style: solid;
  border-left-color: rgb(76, 13, 25);
  border-right-color: rgb(154, 21, 48);
  border-top-color: rgb(102, 16, 33);
  border-bottom: 4px solid rgb(128, 18, 40);
  /* {{ No selectable }} */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*[{- Border radius -}]*/
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  -o-border-radius: 50px;
  /* Gradient */
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.2)
  );
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: -khtml-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.2)
  );
  background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
}

.MainButton:active {
  margin-top: 4px;
  background-color: red;
  border: 1px solid rgb(183, 17, 50);
  /*{Shadow}*/
  box-shadow: inset 0 0 5px 0 #333;
  -moz-box-shadow: inset 0 0 5px 0 #333;
  -webkit-box-shadow: inset 0 1px 2px 0 #333, 0 1px 1px 0 rgb(183, 17, 50);
}
/* Navbar START*/

.navbar {
  top: 0;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar END */

/* Design Page START */

.designContainer {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.designContainer2 {
  display: flex;
  justify-content: center;
}

.card {
  filter: drop-shadow(5px 5px 10px rgb(118, 85, 2));
}

.card-img-top {
  margin-top: 10px;
}

/* Design Page END */

/* About Page */

.aboutText {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

/* About Page END */

/* MEDIA */

@media only screen and (max-width: 992px) {
  .navbar {
    left: 0;
  }

  
  .HueText-container {
    margin-bottom: 5vh;
  }

  .HueText {
    justify-content: center;
    font-size: 40px;
    
  }
  .MainButton{
    visibility: hidden;
  }
  .navContainer {
    display: flex;
    justify-content: left;
    align-items: left;
  }
}
